.contactCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  /* border: 2px solid #000000; */
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  color: #000000;
  padding: 12px 16px;
  font-size: 18px;
  background-color: rgba(249, 244, 244, 0.771);
}

.contactFields {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contactField {
  display: flex;
  gap: 10px;
  align-items: center;
}

.contactBtn {
  border: none;
  border-radius: 6px;
  background-color: grey;
  color: black;
  padding: 6px 12px;
  font-family: inherit;
  font-size: 18px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contactBtn:hover {
  background-color: rgb(154, 70, 70);
}
